@use '../../sassStyles/mixins';
.card {
	user-select: none;
	padding: 20px;
	height: 300px;
	width: fit-content;
	background: #ffffff80;
	border: 1px solid #ffffff2e;
	box-shadow: 0 8px 32px 0 #1f26875e;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	transition: transform 0.1s ease-in;
	@include mixins.d_flex;
	transition: transform 0.1s ease-in;
	position: relative;
	cursor: pointer;

	&:hover {
		transform: scale(1.2);
		z-index: 1000;
	}
	&:hover > .main_image {
		visibility: hidden;
		opacity: 0;
	}
	&:hover > .details {
		@include mixins.d_flex(column);
		text-align: center;
		visibility: visible;
		// margin: 5px;
		width: 300px;
		opacity: 1;
	}

	.main_image {
		height: 100%;
		width: 300px;
		border-radius: 10px;
		transition: 0.5s ease-in;
		opacity: 1;
		transition-property: opacity;
	}
	.details {
		@include mixins.d_flex(column);
		align-items: center;
		justify-content: space-between;
		opacity: 0;
		transition-property: opacity;
		transition: 0.5s ease-in;
		text-align: center;
		position: absolute;
		top: 0;
		margin: 20px 0;
		width: 300px;

		.name {
			margin-bottom: 10px;
		}
		.description {
			font-size: 15px;
		}
	}
}
