@mixin d_center($dir: row) {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: $dir;
}
@mixin d_flex($dir: row) {
	display: flex;
	flex-direction: $dir;
}
