@use './sassStyles/mixins';
.App {
	margin: 30px;
	@include mixins.d_center(row);
	gap: 25px 10px;
}
.title {
	color: rgb(12, 97, 30);
	text-align: center;
	margin: 30px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
