@use './sassStyles/variables';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: variables.$bgColor;
	background: linear-gradient(
		90deg,
		variables.$gradiantStartColor 0%,
		variables.$gradiantEndColor 100%
	);
	background: -moz-linear-gradient(
		90deg,
		variables.$gradiantStartColor 0%,
		variables.$gradiantEndColor 100%
	);
}
